* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: #020617;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    color: #94a3b8;
}

/* CONTENIDO PRINCIPAL */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
}

/* SECCIONES */
section {
    margin-bottom: 3rem;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #38bdf8;
    display: inline-block;
    padding-bottom: 0.3rem;
}

section h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: #38bdf8;
    font-size: 1.2rem;
}

/* LISTAS */
ul {
    list-style: none;
}

ul li {
    margin-bottom: 0.5rem;
}

/* FOOTER */
footer {
    background-color: #020617;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    color: #94a3b8;
}

/* MEDIA QUERY — PANTALLAS GRANDES */
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    main {
        padding: 2.5rem;
    }
}


/* article */
article {
    background-color: #020617;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

article h3 {
    margin-bottom: 0.5rem;
    color: #e5e7eb;
}

article p {
    margin-bottom: 0.5rem;
}
